@page
@model IndexModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4 text-center">Restaurant</h1>
    <div class="table-responsive">
        <table class="table table-hover table-light table-striped table-sm">
            <thead>
                <tr class="bg-warning" style="height:35px;">
                    <th style="width: 80%;">Menu</th>
                    <th style="width: 15%;">Price</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Products.Any())
                {
                    foreach (var product in Model.Products)
                    {
                        <tr>
                            <td>@product.Name</td>
                            <td>@product.Price.ToString("F") DKK</td>
                        </tr>
                    }
                }
                else
                {
                    <tr><td colspan="2" class="text-center">No products</td></tr>
                }
            </tbody>
        </table>
    </div>
    <form method="post" asp-page-handler="calculate">
        <div class="form-group">
            <label for="product" style="font-weight: bold;">Product</label><br>
            <select id="product" class="form-control" asp-for="ProductId" required>
                @if(Model.Products.Any())
                {
                    @foreach (var product in Model.Products)
                    {
                        <option value="@product.Id">@product.Name</option>
                    }     
                }
            </select>
        </div>
        <div class="form-group">
            <label for="age" style="font-weight: bold;">Age</label>
            <input id="age" asp-for="Age" class="form-control" required type="number"/>
        </div>
        <button class="btn btn-success">Buy</button>
    </form>
</div>